function Main.main 2
push constant 10
push constant 0
call Float.new 2
pop local 0
push constant 10
push constant 0
call Float.new 2
pop local 1
push local 0
call Float.getMantessa 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push local 1
call Float.add 2
pop temp 0
push local 0
call Float.getMantessa 1
call Output.printInt 1
pop temp 0
push local 0
call Float.dispose 1
pop temp 0
push local 1
call Float.dispose 1
pop temp 0
push constant 0
return
